@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f1f1f1;
}

.container {
    height: 100vh;
    width: 100%;
}

.bg video {
    z-index: -100;
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    /* filter: brightness(60%); */
    /* filter: blur(2px); */
}

/*  */

.content {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.card {
    /* background: #999; */
    height: 100%;
    display: flex;
    justify-content: center;
}

.form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 4px 8px 0 rgba(0, 0, 0, 0.06);
    max-width: 480px;
    width: 100%;
    /* min-height: 100%; */
    padding: 32px;
    box-sizing: border-box;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login,
.form-signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login.hide {
    display: none;
}

.form-signup.hide {
    display: none;
}

/*  */



.form-switch {
    position: relative;
    border: 1px solid black;
    /* background: #dddddd; */
    width: 100%;
    display: flex;
    border-radius: 10px;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 20px;
}

.form-switch .switch-change {
    position: absolute;
    width: 49%;
    background: hsl(214, 100%, 70%);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 13px;
    cursor: pointer;
    font-weight: 600;
    left: 1.5px;
    transition: 0.3s;
    cursor: default;
}

.switch-change-login {
    transform: translateX(0%);
}

.switch-change-signup {
    transform: translateX(102.5%);
}

.switch-login,
.switch-signup {
    width: 100%;
    /* outline: 1px solid red; */
    text-align: center;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
}

.switch-login {
    border-right: 1px solid #999;
}

.switch-signup {
    border-left: 1px solid #999;
}
/*  */

.form .title {
    color: #1a73e8;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-input .forgot-password {
    color: #448be9;
    text-decoration: none;
    margin-bottom: 15px;
}

.form-input .forgot-password:hover {
    color: #1a73e8;
    text-decoration: underline;
}

.form .form-input label {
    font-size: 14px;
    font-weight: bold;
    color: #70757a;
    display: block;
    margin-bottom: 8px;
}

.form .form-input input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 16px;
}

.form .form-input input:focus {
    outline-color: #448be9;
}

.form .form-input input::placeholder {
    color: #999;
}

.form .form-input input[type="submit"] {
    background-color: #1a73e8;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    /* text-align: center; */
    width: 150px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.form .form-input input[type="submit"]:hover {
    background-color: #0d47a1;
}

.box-submit-btn {
    display: flex;
    justify-content: center;
}

.form .logo img {
    width: 100px;
}