@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
    background: #5372F0;
}

.container {
    height: 100vh;
}

.bg {
    background: linear-gradient(90deg, rgb(0, 225, 255) 0%, rgb(255, 0, 128) 100%);
    height: 100%;
    width: 100%;
    z-index: -100;
    position: fixed;
}

/*  */

.content {
    padding: 20px;
    padding-left: 85px;
    height: 100%;
}


.box {
    /* outline: 1px solid red; */
    /* text-align: center; */
    background: #fff;
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    text-align: center;
}

.card-title h1 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.342);
    cursor: default;
    padding: 20px;
    animation: mineescaleup;
    animation-duration: 1s;
}

/*  */

.card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.card-link {
    background: #fff;
    border: 1px solid black;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border-radius: 3px;
    cursor: pointer;

    animation: mineeslidefromleft;
    animation-duration: 1s;
}

.card-link a {
    text-decoration: none;
}

.card-link img {
    width: 70px;
}

.card-link h3 {
    color: #000;
    transition: 0.2s;
}

.card-link:hover {
    background: #e9e9e9;
    transform: scale(1.07);
}

.image-preview {
    animation: mineeslidefromright;
    animation-duration: 1s;
}

.image-preview img {
    width: 90vh;
}

/*  */
@media (max-width: 728px) {
    .content {
        padding-left: 20px;
    }
    .box {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .card-title {
        padding: 0px 0;
    }

    .card-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .box-card-link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    /*  */
    .card-link {
        background: #fff;
        border: 1px solid black;
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 30px 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        border-radius: 3px;
        cursor: pointer;
    }

    .card-link img {
        width: 60px;
    }

    .card-link h3 {
        font-size: 16px;
    }

    .image-preview {
        text-align: center;
    }

    .image-preview img {
        width: 90%;
        /* width: 40vh; */
    }
}