@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
}

/*  */

.content {
    background: #999;
    padding: 20px;
    padding-left: 85px;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgb(0, 225, 255) 0%, rgb(255, 0, 128) 100%);

}

.quiz {
    display: flex;
    outline: 1px solid red;
    min-height: 100%;
    width: 100%;
    background: #fff;
}

.quiz-select {
    width: 100%;
    background: #fff;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    padding: 20px;
}

.animation1 {
    animation: mineeslidefromleft;
    animation-duration: 0.5s;
}

.animation2 {
    animation: mineeslidefromright;
    animation-duration: 0.5s;
}

.select {
    display: flex;
    flex-direction: column;
}

.select .link-text {
    font-size: 22px;
}

.slideanimation1 {
    animation: mineeslidefromdown;
    animation-duration: 1s;
}

.slideanimation2 {
    animation: mineeslidefromdown;
    animation-duration: 1.5s;
}

.slideanimation3 {
    animation: mineeslidefromdown;
    animation-duration: 2s;
}

.slideanimation4 {
    animation: mineeslidefromdown;
    animation-duration: 2.5s;
}

.animation1-1 {
    animation: mineeslidefromdown;
    animation-duration: 0.5s;
}
/*  */

.quiz-select h1 {
    text-align: center;
    margin: 20px;
    /* margin-bottom: 50px; */

}

.quiz-select .select {
    text-align: center;
}

.quiz-select .select img {
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 15px -5px black;
    transition: 0.3s;
}

.quiz-select .select li {
    list-style: none;
    background: #007bff;
    margin: 10px;
    padding: 20px;
    border-radius: 7px;
    transition: 0.3s;
}

.quiz-select .select li a {
    color: #fff;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
}

/*  */

.quiz-select .select li:hover {
    transform: scale(1.05);
    background: #0060c7;
}

.quiz-select .select img:hover {
    transform: scale(1.03);
}

@media (max-width: 728px) {
    .content {
        padding-left: 20px;
    }
    .quiz {
        display: flex;
        flex-direction: column;
    }

    .quiz-select {
        border-bottom: 1px solid black;
    }

    .quiz-select h1 {
        font-size: 26px;
    }

    .content {
        padding: 10px;
    }
}