@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    height: 100vh;
    width: 100%;
}

h1,
p {
    cursor: default;
}

/* -------------------- Content -------------------- */

.content {
    position: relative;
    height: 530px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Title */

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    max-width: 1000px;
    padding: 0 20px;
}

.bg-video video {
    z-index: -100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    filter: brightness(60%);
}

.title .logo {
    width: 70px;
    margin: 20px;
    transition: 0.2s;
}

.logo:hover {
    transform: scale(1.05);
}


.title h1 {
    color: #00ffff;
    font-size: 48px;
    margin-bottom: 5px;
    text-align: center;
}

.title p {
    color: #fff;
    font-size: 22px;
    text-align: center;
}

.title .title-btn {
    text-decoration: none;
}

.title .title-btn {
    margin: 40px;
    background: #0077ff;
    padding: 18px 42px;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
}

.title .title-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #00ffff;
    background: #3694ff;
    /* background: #dddddd; */
}


.title .htu {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

.title .htu a {
    color: rgb(0, 174, 255);
    font-size: 18px;
}

.htuscoll {
    color: #fff;
}


/* Example */

.example {
    display: flex;
    justify-content: center;
    padding: 40px 50px;
    padding-bottom: 100px;
}

.example .example-box {
    max-width: 1200px;
}

.title-example {
    text-align: center;
    margin-bottom: 50px;
}

.title-example h1 {
    font-size: 44px;
}

.title-example p {
    font-size: 18px;
}

/*  */

.example-image {
    text-align: center;
}

.example-image img {
    width: 300px;
    border-radius: 5px;
    margin: 0 10px;
    margin-bottom: 30px;
}

/* How To Use */

.howtouse {
    background: #202123;
    display: flex;
    justify-content: center;
    /* padding: 50px 50px; */
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 80%;
}


.howtouse .htu-box {
    width: 1500px;

}

.htu-box h1 {
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 48px;
}

/*  */

.htu-box p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 5px;
}

/* Download */

.download {
    margin-top: 50px;
}

.download h1 {
    font-size: 32px;
    border: none;
}

.download .download-link img {
    width: 200px;
    margin-right: 10px;
}

.download .download-link:hover {
    filter: brightness(200%);
}

@media (max-width: 728px) {
    .example {
        padding: 40px 10px;
    }

    .example-image img {
        width: 160px;
    }

    .howtouse {
        padding: 50px 50px;
    }
}